[package]
name = "usb-hotplug"
version = "0.1.0"
edition = "2021"
license = "MIT"

[lib]
crate-type = ["cdylib"]

[dependencies]
napi = "3"
napi-derive = "3"
nusb = "0.2"
futures-lite = "2"

[build-dependencies]
napi-build = "2"

[profile.release]
lto = true
strip = "symbols"
